/* @media queries shamelessly stolen from https://stackoverflow.com/questions/13550541/media-min-width-max-width */
@media only screen and (max-device-width:480px){    
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    article {
	padding-left: 5%;
	padding-right: 5%;
    }

    img {
	max-width: 100%;
    }
}

@media only screen and (device-width:768px){
    /* default iPad screens */
    article {
	padding-left: 5%;
	padding-right: 5%;
    }

    img {
	max-width: 100%;
    }

}

.sidebar {
    border: 1px solid #090909;
    top: -20px;
    left: -20px;
    bottom: -20px;
    overflow: hidden;
    padding: 2%;
    width: 5%;
    position: fixed;
    float: left;
    display: block;
    background-color: #1b1b1b;
    transition: width 1s, background 1s;
    z-index: 3;
}

.sidebar:hover {
    background: #F23623;
    width: 20%;
    transition: width 1s, background 1s;
}

.sidebar h1, .sidebar h3, .sidebar ul, .sidebar hr {
    opacity: 0;
    transition: opacity 0.3s;
}

.sidebar p {
    opacity: 0;
    transition: opacity 0s;
}

.sidebar:hover ul, .sidebar:hover h1, .sidebar:hover h3, .sidebar:hover hr {
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}

.sidebar:hover p {
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 1s;
}

.sidebar a {
    color: #222;
}

