---
layout: default
title: Home
---
{% for post in paginator.posts %}
<div class="row">
  <div class="u-pull-left">
    <h4><a href="{{ post.url }}">{{ post.title }}</a></h1>
  </div>
  <div class="u-pull-right">
    <h5>{{ post.date | date_to_string }}</h5>
  </div>
</div>
{% endfor %}

<div class="row">
  <div class="twelve columns">
    <hr class="spacer"></hr>
  </div>

  <div class="u-pull-left">
    {% if paginator.next_page %}
    <a class="button" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
    {% else %}
    <button class="button">Older</button>
    {% endif %}
  </div>

  <div class="u-pull-right">
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="button" href="{{ site.baseurl }}">Newer</a>
    {% else %}
    <a class="button" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
    {% else %}
    <button>Newer</button>
    {% endif %}

  </div>
</div>
