<div class="clearfix"></div>
<footer> <!-- page footer __________ -->
  <div class="container">
    <div class="media col-md-6">
      <div class="media-body">
	<h3 class="media-heading"><a href="{{ site.url }}">{{ site.title }}</a></h3>
	<hr>
	<dl>
	  {% if site.twitter || site.github || site.email %}
	  <dt>Contact</dt>
	  {% if site.twitter %}
	  <dd><a href="https://twitter.com/{{ site.twitter }}">Twitter</a></dd>
	  {% endif %}
	  {% if site.github %}
	  <dd><a href="https://github.com/{{ site.github }}">Github</a></dd>
	  {% endif %}
	  {% if site.email %}
	  <dd>{{ site.email }}</dd>
	  {% endif %}
	  <hr/>
	  {% endif %}
	  <dt>About</dt>
	  <dd class="text-muted">
	    {{ site.description }}
	  </dd>
	</dl>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="media-heading">LATEST POSTS</h3>
      <hr>
      {% for post in site.posts limit:5 %}
      <strong><a href="{{ post.url }}">{{ post.title | upcase }}</a></strong>
      <hr/>
      <div class="clearfix"></div>
      {% endfor %}
    </div>
    <hr/>
    <div class="clearfix"></div>
    <div class="row">
      <h3>Pages</h3>
      <hr/>
      <div class="btn-group btn-group-justified" role="group" aria-label="Links to non-post pages">
	{% for page in site.pages %}
	{% if page.layout == "page" %}
	<a type="btn" class="btn btn-info" href="{{ page.url }}">{{ page.title }}</a>
	{% endif %}
	{% endfor %}
      </div>
    </div>
  </div>
</footer>
