<footer>
  <div class="container">
    <div class="row">

      <dl class="dl-horizontal">
	<dt class="page-header">
	  Contact
	</dt><dd></dd>

	{% if site.email %}
	<dt>
	  Email
	</dt>
        <dd>
	  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
	</dd>
	{% endif %}
	
	{% if site.keybase_username %}
	<dt>
	  Keybase
	</dt>
	<dd>
          <a href="https://keybase.io/{{ site.keybase_username }}">{{ site.github_username }}</a>
        </dd>	
	{% endif %}

        {% if site.github_username %}
	<dt>
	  Github
	</dt>
        <dd>
          <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
        </dd>
	{% endif %}

        {% if site.twitter_username %}
	<dt>
	  Twitter
	</dt>
        <dd>
          <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
        </dd>
        {% endif %}
      </dl>
    </div>
  </div>
</footer>
